
@font-face {
  font-family: 'BentonSans-Regular';
  src: url('BentonSans-Regular.eot?#iefix') format('embedded-opentype'),  url('BentonSans-Regular.otf')  format('opentype'),
	     url('BentonSans-Regular.woff') format('woff'), url('BentonSans-Regular.ttf')  format('truetype'), url('BentonSans-Regular.svg#BentonSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
