
@font-face {
  font-family: 'Prompt-Regular';
  src: url('Prompt-Regular.eot?#iefix') format('embedded-opentype'),  url('Prompt-Regular.woff') format('woff'), url('Prompt-Regular.ttf')  format('truetype'), url('Prompt-Regular.svg#Prompt-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
