<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <!--header and footer settings ( Member )-->
        <jsp-property-group>
            <description>header and footer settings ( Member )</description>
            <url-pattern>/WEB-INF/View/FrontEnd/*</url-pattern>
            <include-prelude>/WEB-INF/Layout/Member/header.jspf</include-prelude>
            <include-coda>/WEB-INF/Layout/Member/footer.jspf</include-coda>
        </jsp-property-group>
        <!--header and footer settings ( Empty )-->
        <jsp-property-group>
            <description>header and footer settings ( Empty )</description>
            <url-pattern>/login.jsp</url-pattern>
            <include-prelude>/WEB-INF/Layout/Empty/header.jspf</include-prelude>
            <include-coda>/WEB-INF/Layout/Empty/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
